.search-field {
    display: flex;
}

.full-width-height {
    width: 100%;
    height: 100%;
}

.search-input .v-text-field__control {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    /* สีพื้นหลังสำหรับช่องค้นหา */
    border-radius: 8px;
    /* มุมโค้งมน */
    border: 2px solid #1976d2;
    /* ขยายเส้นขอบ */
}

.search-input input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* ทำให้ขนาดของ input รวมถึง padding และ border */
}

.search-field {
    height: 100px;
}

.add-button {
    height: 100px;
}

/* การจัดรูปแบบของไอคอนใน toolbar */
.addButton {
    color: #ffffff !important;
    /* สีของข้อความในปุ่มเมื่อ hover */
    background-color: #388e3c !important;
    /* สีพื้นหลังของปุ่มเมื่อ hover */
    border: 1px solid #388e3c !important;
    /* เปลี่ยนเส้นขอบเป็นสีขาวเมื่อ hover */
    font-weight: bold;
    /* ทำให้ตัวหนังสือหนา */
    width: 100%;
}

/* เปลี่ยนสีของไอคอนเมื่อ hover */
.addButton:hover {
    color: #388e3c !important;
    /* สีของข้อความในปุ่มเมื่อ hover */
    background-color: #ffffff !important;
    /* สีพื้นหลังของปุ่มเมื่อ hover */
    border: 1px solid #388e3c !important;
    /* เปลี่ยนเส้นขอบเป็นสีขาวเมื่อ hover */
}