.centered-heading {
    text-align: center;
    margin: 0;
    color: #009933 !important;
}

.full-width-card {
    display: flex;
    justify-content: center;
}

.full-card {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    /* เอาเงาออกจาก v-card */
    border: 2px solid #00993354 !important;
    /* เพิ่มเส้นขอบหนา 2px สีดำ */
    border-radius: 8px;
    /* ให้มุมของกรอบมน */
    padding: 20px;
    /* ระยะห่างภายในทั้ง 4 ด้าน 20px */
}

.tabs {

    width: 100% !important
}

.custom-tab {
    font-size: 20px !important;
    /* ขนาดตัวหนังสือ */
    color: #009933 !important;
    background-color: #ffffff !important;
    /* สีตัวหนังสือ */
    width: 3000px !important;
    /* ความกว้างขั้นต่ำของแถบ */
    height: 50px !important;
    /* ความสูงของแถบ */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 20px !important;
    /* Padding รอบตัวหนังสือ */
    font-weight: bold !important;

    /* ทำให้มุมของแถบโค้งมน */
    transition: background-color 0.3s ease !important;
}

.custom-tab:hover {
    background-color: #00993331 !important;
    /* สีพื้นหลังเมื่อ hover */
    color: #000000 !important;
    /* สีตัวหนังสือเมื่อ hover */
}